#Menu {
	position: absolute;
	left: 0;
	top: 8%;
	display: flex;
	flex-direction: row;
	justify-content: left;

	width: 100%;
	height: 7%;
	background-color: #aaaaaa;
	z-index: 2;
	div {
		margin-left: 6px;
		cursor: pointer;
	}
	#Menu__File__Dropdown {
		display: none;
		cursor: pointer;
		position: relative;
		left: -20%;
		margin-left: 25%;
		div {
			background-color: grey;
			padding: 4px;
			border-radius: 6px;
		}
	}
	#Menu__File {
		display: inline-block;
	}
	#Menu__File:hover #Menu__File__Dropdown {
		display: block;
	}
}

#MainTextArea {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin-left: 12px;
	height: 85%;
	margin: 0;
	resize: none;
	border: none;
}