#Menu {
  position: absolute;
  left: 0;
  top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 7%;
  background-color: #aaaaaa;
  z-index: 2; }
  #Menu div {
    margin-left: 6px;
    cursor: pointer; }
  #Menu #Menu__File__Dropdown {
    display: none;
    cursor: pointer;
    position: relative;
    left: -20%;
    margin-left: 25%; }
    #Menu #Menu__File__Dropdown div {
      background-color: grey;
      padding: 4px;
      border-radius: 6px; }
  #Menu #Menu__File {
    display: inline-block; }
  #Menu #Menu__File:hover #Menu__File__Dropdown {
    display: block; }
  #Menu #Menu__Edit__Dropdown {
    display: none;
    cursor: pointer;
    position: relative;
    margin-left: 25%; }
    #Menu #Menu__Edit__Dropdown div {
      background-color: grey;
      padding: 4px;
      padding-right: 120%;
      border-radius: 6px; }
      #Menu #Menu__Edit__Dropdown div img {
        width: 25%; }
  #Menu #Menu__Edit {
    display: inline-block; }
  #Menu #Menu__Edit:hover #Menu__Edit__Dropdown {
    display: block; }

#MainTextArea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin-left: 12px;
  height: 85%;
  margin: 0;
  resize: none;
  border: none; }

#Overlay {
  display: none;
  z-index: 40;
  background-color: gray;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

form {
  z-index: 150;
  background-color: white;
  width: 70%;
  height: 70%;
  border: 3px solid #0cede9;
  border-radius: 6px;
  padding: 3%;
  color: black;
  margin: 0 auto;
  position: relative;
  top: 40%;
  display: none; }
  form img {
    width: 4%;
    position: absolute;
    top: 15%;
    right: 8%; }
