body {
  overflow-x: hidden; }

header {
  z-index: 100;
  /*position: fixed;
  top: 0;
  left: 0;*/ }

#Main {
  padding-left: 9px;
  padding-top: 5%;
  padding-right: 0;
  padding-bottom: 3%;
  margin-right: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%; }

#ManageApps {
  margin-right: 25px;
  cursor: pointer; }

h1 {
  text-align: center; }

.Center {
  text-align: center; }

#Announcement_FeaturedApps {
  cursor: pointer; }

#FeaturedApps {
  display: grid;
  grid-template-columns: repeat(3, 28%);
  grid-gap: 3%;
  grid-auto-rows: minmax(100px, auto); }
  #FeaturedApps .App {
    padding: 4%;
    background-color: #c4c4c4;
    border-radius: 6px;
    box-shadow: 6px 6px 6px #dadada;
    transition: box-shadow 300ms, background-color 250ms; }
    #FeaturedApps .App:hover {
      box-shadow: 12px 12px 12px #dadada;
      background-color: #c1c1c1; }
    #FeaturedApps .App img {
      max-width: 90%;
      max-height: 100px; }
