@font-face {
	font-family: "Main";
	src: url("../../assets/fonts/quicksand/Quicksand_Book.otf");
}

body {
	overflow: hidden;
}

form {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 91%;
	padding-left: 1%;
	font-family: "Main";
	letter-spacing: 0px;
	background-color: grey;
	display: flex;
	justify-content: space-around;
	flex-direction: row;

	#form_container {
		width: 60%;
		height: 30%;
		text-align: center;
		border: 2px solid #0cede9;
		border-radius: 12px;
		background-color: #dddddd;
		padding: 40px;
		margin-top: 3%;
		color: #232323;
	}
}

select {
	background-color: #4fdbd9;
	font-family: "Main";
}