$header-color: #950063;

@font-face {
	font-family: "Title";
	src: url("../assets/fonts/bebas_neue/BebasNeue-Regular.ttf");
}

header {
	background-color: $header-color;
	//box-shadow: 4px -1px 2px $header-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 38px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 2px 2px $header-color;
	font-size: 1.5em;
	padding-top: 8px;
	cursor: move;
	overflow: hidden;

	#Icon {
		cursor: auto;
		img {
			height: 90%;
		}
	}

	#Name {
		font-family: "Title";
		letter-spacing: 0.5px;
	}

	#CloseOptions {
		cursor: auto;
		position: relative;
		left: 200px;
		img {
			height: 90%;
		}
	}
	
}